<app-header></app-header>
<div class="movie-container">
    <div class="top">
        <div class="left">
            <div class="name">{{movie?.name}}</div>
            <div class="rating">
                <app-star-rating [rating]="movie?.rating" [isReadOnly]="true"></app-star-rating>
                <span class="rating-value">{{movie?.rating}}</span>
            </div>
            <div class="cover">
                <img src={{movie?.cover}} alt="">
            </div>
        </div>
        <div class="right">
            <div class="right-title">Rate this Movie</div>
            <form>
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <div class="ratingf">
                        <app-star-rating [rating]="0" [isReadOnly]="false"></app-star-rating>
                    </div>
                </div>
                <div class="form-group">
                    <label for="review" class="form-label">Review</label>
                    <textarea name="review" class="form-control" rows="3"></textarea>
                </div>
                <div class="btn-container">
                    <button class="btn btn-dark">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
    <div class="bottom">
        <div class="titleb">Reviews</div>
        <div class="reviews">
            <div class="review" *ngFor="let review of movie?.reviews">
                <div class="review-details">
                    <div class="review-left">
                        <div class="author">{{review.author}}</div>
                        <div class="author_dt">{{review.published_on | date:"dd-MMM-YYYY"}}</div>
                    </div>
                    <div class="review-right">
                        <div class="ratingb">
                            <app-star-rating [rating]="review.rating" [isReadOnly]="true"></app-star-rating>
                            <span class="rating-value">{{review.rating}}</span>
                        </div>
                    </div>
                </div>
                <div class="review-text"></div>
            </div>
        </div>
        <div class="reviews" *ngIf="movie?.reviews.length==0">
            <div class="no-reviews">No reviews yet</div>
        </div>
    </div>
</div>